.messages {
  height: 100%;
  padding: 20px;
  padding-bottom: 0;
  overflow: auto;
  &--loading {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

i.anticon.anticon-close.ant-modal-close-icon {
  position: absolute;
  top: 6px;
  right: 6px;
}
