@import 'antd/dist/antd.css';
@import '~normalize.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html,
#app,
.wrapper {
  height: 100%;
  color: #202020;
}

body {
  font-family: 'Roboto', sans-serif;
}
