/* autoprefixer grid: autoplace */
@import 'antd/dist/antd.css';
@import '~normalize.css';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html,
#app,
.wrapper {
  height: 100%;
  color: #202020;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

@for $i from 0 through 6 {
  h#{$i} {
    margin: 0;
    padding: 0;
  }
}

p {
  margin: 0;
  padding: 0;
}
