/* autoprefixer grid: autoplace */
@import 'antd/dist/antd.css';
@import '~normalize.css';
@import 'react-loader-spinner/dist/loader/css/react-spinner-loader.css';
@import 'emoji-mart/css/emoji-mart.css';

@import './variables';
@import './layouts/chat';

*,
*::before,
*::after {
  box-sizing: border-box;
  outline: none;
}

body,
html,
#app,
.wrapper {
  height: 100%;
  color: #202020;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  background-color: #f4f7fd;
}

@for $i from 0 through 6 {
  h#{$i} {
    margin: 0;
    padding: 0;
  }
}

p {
  margin: 0;
  padding: 0;
}

.ant-btn-circle {
  border: 0;
  box-shadow: none;
  color: #202020 !important;
  opacity: 0.4;

  &:hover {
    opacity: 1;
  }

  &:after {
    display: none;
  }
}

.ant-empty-description {
  color: rgba(0, 0, 0, 0.25);
}
