@import '~scss/variables';

.message {
  $self: &;

  &__content {
    display: flex;
    max-width: 440px;
    margin-bottom: 20px;
    position: relative;

    &:hover {
      #{$self}__icon-actions {
        display: block;
      }
    }
  }

  &__avatar {
    display: flex;
    flex-direction: column-reverse;
    .avatar {
      border-radius: 50%;
      width: 33px;
      height: 33px;
      margin-right: 15px;
      margin-bottom: 9px;
    }
  }

  &__bubble {
    display: inline-block;
    background: $main-blue;
    box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.196733);
    border-radius: 12px 12px 12px 0px;
    padding: 15px;
    margin-bottom: 8px;
  }

  &__text {
    font-size: 14px;
    line-height: 20px;
    color: #ffffff;
  }

  &__icon {
    &-readed {
      position: absolute;
      left: -18px;
      bottom: 20px;

      &--not {
        left: -20px;
      }
    }

    &-actions {
      display: none;
      transform: rotate(90deg);
      position: absolute;
      left: -31px;
      top: -5px;
    }
  }

  &__date {
    display: block;
    font-size: 12px;
    line-height: 14px;
    color: $main-black;
    opacity: 0.5;
  }

  &__attachments {
    display: flex;
    margin-bottom: 10px;
    &-item {
      margin-right: 5px;
      cursor: pointer;
      img {
        width: 45px;
        height: 45px;
        border-radius: 8px;
      }
    }
  }

  &__typing {
    span {
      height: 8px;
      width: 8px;
      border-radius: 50%;
      display: inline-block;
      margin-right: 8px;

      &:last-of-type {
        margin-right: 0;
      }

      @each $frame, $i,
        $duration
          in (
            (typingAnimationOne, 1),
            (typingAnimationTwo, 2),
            (typingAnimationThree, 3)
          )
      {
        &:nth-of-type(#{$i}) {
          animation: #{$frame} 1s ease-in-out infinite;
          animation-direction: normal;
        }
      }
    }
  }

  &--is-me {
    display: flex;
    flex-direction: row-reverse;

    .avatar {
      margin-right: 0;
      margin-left: 13px;
    }

    #{$self}__content {
      margin-bottom: 15px;
      flex-direction: row-reverse;
    }

    #{$self}__info {
      text-align: right;
    }

    #{$self}__bubble {
      background: #ffffff;
      border: 1px solid #ececec;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.0220444);
      border-radius: 12px 12px 0px 12px;
    }

    #{$self}__text {
      color: $main-black;
    }
  }

  &--is-typing {
    #{$self}__bubble {
      background: $message-typing-blue;
      box-shadow: 0px 5px 5px rgba(54, 116, 255, 0.04);
      padding: 15px 18px;
    }

    #{$self}__avatar {
      img {
        margin-bottom: 16px;
      }
    }
  }

  &--image {
    #{$self}__attachments {
      &-item {
        img {
          width: 150px;
          height: 150px;
        }
      }
    }

    #{$self}__avatar {
      img {
        margin-bottom: 9px;
      }
    }
  }

  &--audio {
    audio {
      display: none;
    }

    #{$self}__bubble {
      width: 280px;
      position: relative;
      overflow: hidden;
    }

    #{$self}__audio {
      &-overlay {
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        background-color: #418fff;
        transition: width 0.5s linear;
      }

      &-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
      }

      &-button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 28px;
        height: 28px;
        background-color: #0f3997;
        border: none;
        border-radius: 30px;
        cursor: pointer;

        &-icon {
          height: 13px;
        }
      }

      &-duration {
        opacity: 0.5;
        color: #ffffff;
        font-size: 12px;
        font-weight: 700;
        line-height: 14px;
      }
    }
  }
}

$animation-color: $message-typing-circle;

// lighten(rgb(54, 116, 255), 10%)

@keyframes typingAnimationOne {
  0% {
    background: rgba($animation-color, 0.4);
  }
  33.333% {
    background: rgba($animation-color, 1);
  }
  66.6667% {
    background: rgba($animation-color, 0.4);
  }
  100% {
    background: rgba($animation-color, 0.4);
  }
}

@keyframes typingAnimationTwo {
  0% {
    background: rgba($animation-color, 0.4);
  }
  33.333% {
    background: rgba($animation-color, 0.4);
  }
  66.6667% {
    background: rgba($animation-color, 1);
  }
  100% {
    background: rgba($animation-color, 0.4);
  }
}

@keyframes typingAnimationThree {
  0% {
    background: rgba($animation-color, 0.4);
  }
  33.333% {
    background: rgba($animation-color, 0.4);
  }
  66.6667% {
    background: rgba($animation-color, 0.4);
  }
  100% {
    background: rgba($animation-color, 1);
  }
}
